GitPython
PyYAML
albumentations>=1.1.0
av>=10.0.0
comet-ml>=3.31.7
coverage[toml]
defusedxml==0.7.1
einops>=0.3.2
freia>=0.2
furo==2022.9.29
gitpython
gradio>=2.9.4
imgaug==0.4.0
ipykernel
ipywidgets
jsonargparse[signatures]>=4.3
kornia>=0.6.6,<0.6.10
matplotlib>=3.4.3
myst-parser
nbsphinx>=0.8.9
networkx~=2.5
nncf>=2.1.0
notebook
omegaconf>=2.1.1
onnx==1.14.0
onnxruntime==1.15.1
opencv-python>=4.5.3.56
openvino-dev>=2022.3.0
pandas>=1.1.0
pandoc
pre-commit
pycocotools
pytest
pytest-cov
pytest-order
pytest-sugar
pytest-xdist
pytorch-lightning>=1.7.0,<1.10.0
requests>=2.26.0
scipy
setuptools>=41.0.0
sphinx>=4.1.2
sphinx-autoapi
sphinxemoji==0.1.8
tensorboard
timm>=0.5.4,<=0.6.13
torch==2.0.1
torchmetrics==0.10.3
torchvision==0.15.2
tox
wandb==0.12.17
